---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import type { Frontmatter } from "src/types";
import Socials from "@components/Socials.astro";

const posts = await Astro.glob<Frontmatter>("../contents/**/*.md");

const sortedPosts = getSortedPosts(posts);
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <h1>Hey, I'm Swarom</h1>
      <a
        target="_blank"
        href="/rss.xml"
        class="rss-link"
        aria-label="rss feed"
        title="RSS Feed"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rss-icon"
          ><path
            d="M19 20.001C19 11.729 12.271 5 4 5v2c7.168 0 13 5.832 13 13.001h2z"
          ></path><path
            d="M12 20.001h2C14 14.486 9.514 10 4 10v2c4.411 0 8 3.589 8 8.001z"
          ></path><circle cx="6" cy="18" r="2"></circle>
        </svg>
      </a>

      <p>
        I'm a M.S. CS student at Santa Clara University.

        <br />
        <br />

        Check out what I'm doing <LinkButton
          className="hover:text-skin-accent underline underline-offset-4"
          href="/now">now</LinkButton>.

        <br />
        <br />

        <LinkButton
        className="hover:text-skin-accent underline underline-offset-4"
          href="/contact">Schedule a time</LinkButton> to talk with me.

        <br />
        <br />
        
        <!-- Glance over my <LinkButton
        className="hover:text-skin-accent underline underline-offset-4"
          href="/projects">personal projects</LinkButton>.
        <br />
        <br /> -->
        

        View my <LinkButton
        className="hover:text-skin-accent underline underline-offset-4"
        href="/resume.pdf">resume</LinkButton> for some of my professional work.

        <!-- View my <LinkButton
          className="hover:text-skin-accent underline underline-offset-4"
          href="https://swarom.s3.us-west-1.amazonaws.com/swarom-curriculum-vitae.pdf">resume</LinkButton> for some of my professional work.
           -->
      </p>

      

      <div class="social-wrapper">
        <Socials />
      </div>
    </section>

    <Hr />

    <section id="recent-posts">
      <h2>Posts</h2>
      <ul>
        {
          sortedPosts.map(({ frontmatter }) => (
            <Card
              href={`/posts/${slugify(frontmatter)}`}
              post={frontmatter}
              secHeading={false}
            />
          ))
        }
      </ul>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pt-8;
  }
  #hero h1 {
    @apply inline-block font-bold my-4 sm:my-8 text-3xl sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply h-6 w-6 scale-110 sm:scale-125 mb-2 sm:mb-3 fill-skin-accent;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply flex flex-col sm:flex-row sm:items-center mt-4 mb-6;
  }
  .social-links {
    @apply whitespace-nowrap mr-2 sm:mb-0 mb-1;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pt-12 pb-6;
  }
  #featured h2,
  #recent-posts h2 {
    @apply font-semibold text-2xl tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply text-center my-8;
  }
</style>
